name: "Release"

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-22.04]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libwebkit2gtk-4.0-dev

      - name: install frontend dependencies
        run: npm install # or yarn install, but we use npx anyway

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__ # the action will replace __VERSION__ with the app version from tauri.conf.json
          releaseName: "PortKiller v__VERSION__"
          releaseBody: "See the assets below to download the latest version of PortKiller for Linux."
          releaseDraft: true
          prerelease: false
          args: --verbose
